ignoreErrors:
	-
		sniff: SlevomatCodingStandard.Functions.UnusedParameter.UnusedParameter
		message: Unused parameter $context.
		count: 2
		path: src/PHPStan/Type/NarrowTypesFunctionTypeSpecifyingExtension.php

	-
		sniff: SlevomatCodingStandard.Functions.UnusedParameter.UnusedParameter
		message: Unused parameter $context.
		count: 2
		path: src/PHPStan/Type/NarrowTypesStaticMethodReturnTypeExtension.php

	-
		sniff: Generic.PHP.ForbiddenFunctions.Found
		message: 'The use of function var_dump() is forbidden'
		count: 9
		path: tests/Tests.php
